body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  
}

.caja {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 400px;
  border: 2px dashed #ccc;
  transition: all 0.4s ease;
}

.caja.activa {
  background-color: #d1e7dd;
  color: #0f5132;
  border-color: #198754;
}

#mensaje {
  margin-top: 10px;
  color: #0d6efd;
}

hr {
  border: 1px solid #dee2e6;
}
